* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: rgb(43, 135, 209);
  font-family: sans-serif;
  font-size: 28px;
}

.menor-opacidad {
  opacity: 0.6;
}

.oculto {
  display: none;
}

.contenedor-pagina {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  box-sizing: border-box;
}

.contenedor-barra-superior {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  color: rgb(255, 255, 255);
  min-height: 50px;
  min-width: min(80vw, 80vh, 600px);
  margin: 0 auto;
}

/* Tanto el ancho como el alto creceran de la misma manera, con un maximo de 600px para creecer */
.contenedor-cuadrados-juego {
  min-height: min(80vw, 80vh, 600px);
  min-width: min(80vw, 80vh, 600px);
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3%;
}

.cuadrados-juego--hover-activado,
.cuadrados-juego--hover-desactivado {
  border-radius: 8%;
  transition: background-color 0.25s;
}

.cuadrados-juego--hover-activado:hover {
  cursor: pointer;
}

.cuadrados-juego--hover-desactivado:hover {
  cursor: not-allowed;
}

.cuadrados-juego--default {
  background-color: rgba(0, 0, 102, 0.25);
}

.cuadrados-juego--activo {
  background-color: rgba(255, 255, 255, 0.9);
}

/* Hecho para evitar que el usuario interactue con algo expecto el modal, cuando este este visible */
.container-contenedor-modal {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  height: 100vh;
  width: 100vw;
}

.contenedor-modal {
  position: absolute;
  top: calc(50vh - 260px / 2);
  right: 10vw;
  height: 260px;
  width: min(80%, 500px);
}

@media (min-width: 625px) {
  .contenedor-modal {
    position: absolute;
    top: calc(50vh - 260px / 2);
    right: calc(50vw - 502px / 2);
    height: 260px;
    width: min(80%, 500px);
  }
}

.contenido-modal {
  height: max-content;
  width: 100%;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.encabezado-modal {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #e9ecef;
}

.encabezado-modal h5 {
  font-size: 1.25rem;
  font-weight: 500;
}

.cuerpo-modal {
  padding: 16px;
}

.cuerpo-modal p {
  font-size: 1rem;
  font-weight: 400;
}

.pie-modal {
  border-top: 1px solid #e9ecef;
  padding: 16px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.boton-comenzar {
  color: #fff;
  background-color: #0069d9;
  border: 1px solid #0062cc;
  border-radius: 0.25rem;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.375rem 0.75rem;
}

.boton-comenzar:hover {
  opacity: 0.85;
}
