* {
    margin: 0;
    padding: 0;
}

.contenedor-barra-superior {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #d1e7dd;
    border-radius: 0 0 5px 5px;
    height: 50px;
    max-width: 90%;
    min-width: calc(182px * 3);
    margin: auto;
    margin-bottom: 20px;
}

.contenedor-cuadrados-juego {
  height: max-content;
  width: calc(182px * 3);
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.cuadrados-juego {
  height: 180px;
  width: 180px;
  background-color: #cfe2ff;
  border: 1px solid #b6d4fe;
  border-radius: 5px;
}

.contenedor-barra-inferior {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #d1e7dd;
    border-radius: 5px 5px 0 0;
    height: 50px;
    max-width: 90%;
    min-width: calc(182px * 3);
    margin: auto;
    margin-top: 20px;
}