* {
    margin: 0;
    padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.contenedor-pagina{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
/*Gracias a flex column los elementos ocupan toda la pantalla
  con el uso de space-between*/
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.contenedor-barra-superior {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #d1e7dd;
    border-radius: 0 0 5px 5px;
    min-height: 50px;
    min-width: max(90%, 350px);
    margin: 0 auto;
}

/*Como el contenedor de cuadrados puede crecer en ancho y alto,
  ya que hace de acuerdo al crecimiento de la pagina,
  a ambos valores se les determino crecimiento de acuerdo a ello,
  ademas de un valor maximo determinado en pixeles. */
.contenedor-cuadrados-juego {
  min-height: min(80vw, 80vh, 600px);
  min-width: min(80vw, 80vh, 600px);
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.cuadrados-juego {
  background-color: #cfe2ff;
  border: 1px solid #b6d4fe;
  border-radius: 5px;
}

.contenedor-barra-inferior {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #d1e7dd;
    border-radius: 5px 5px 0 0;
    min-height: 50px;
    min-width: max(90%, 350px);
    margin: 0 auto;
}